@use '../../scss/variables' as *;

.page-header {
    padding: $header-height 0 2rem;
    margin-bottom: 2rem;
    text-align: center;

    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    h2 {
        font-weight: bold;
        position: relative;
        z-index: 99;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to top,$body-bg,rgba($body-bg,0));
    }
}