@use '../../scss/' as *;

.mySwiper {
    position: relative;

    .swiper-wrapper {
        .swiper-slide {
            background-position: center;
            background-size: cover;

            @include tablet {
                background-position: top;
            }

            @include mobile {
                background-position: top;
            }
        }
    }

    .content-overlay {
        @include overlay();
        width: 100%;
        height: 100%;
    }

    .content_movie_content_info {
        position: absolute;
        top: 20%;
        left: 8%;
        transition-delay: .3s .3s;

        .content-title {
            font-weight: bold;
            letter-spacing: 2px;
            font-size: 61px;
            margin-bottom: 25px;
            transition-delay: .3s .3s;

            @include mobile {
                font-size: 49px;
            }
        }

        .content-desc {
            font-weight: 100;
            line-height: 25px;
            font-size: 15px;
            width: 60%;

            @include mobile {
                font-size: 13px;
                line-height: 20px;
            }
        }

        .btn-content {
            margin-top: 30px;
            margin-right: 15px;
            font-weight: bold;
        }

        .content-trailer {
            position: absolute;
            width: 100%;
            top: 69%;
            left: 68%;

            @include tablet {
                visibility: hidden;
            }

            @include mobile {
                visibility: hidden;
            }

            img {
                width: 27%;
                height: 250px;
                border-radius: 40px;
                position: relative;
            }
        }
    }

    .player-yt {
        position: absolute;
        top: 30%;
        left: 25%;
        z-index: 99;

        @include tablet {
            left: 10%;
        }

        @include mobile {
            left: 10%;
        }
    }

    .iframe-yt {
        height: 390px;
        width: 100vh;

        @include tablet {
            width: 600px;
        }

        @include mobile {
            width: 100%;
            height: 280px;
        }
    }
}